<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
        <script src='https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js'></script>
        <script src='https://raw.github.com/DmitryBaranovskiy/g.raphael/master/min/g.raphael-min.js'></script>
        <script src='https://raw.github.com/DmitryBaranovskiy/g.raphael/master/min/g.pie-min.js'></script>
        <style>
            * {
                font-family: 'Open Sans', sans-serif;
            }

            body {
                color: #fff;
                background-color: #20749C;
                text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 0px;
            }

            .small {
                font-size: 0.5em;
            }

            .shard-info {
                padding-left: 250px;
            }
        </style>
    </head>

    <body>
        {% block content %}{% endblock %}
        {% block extrajs %}{% endblock %}
    </body>
</html>
