{% extends 'profiles/base.html' %}

{% block content %}
    <h1>DB Sharding</h1>
    <div>
        <form id='main-form' action='{% url main-ajax %}' method='post'>
            {% csrf_token %}
            <input id='main-form-button' type='submit' value='Start'>
        </form>
    </div>
    </div>
    
    {% for shard in shards %}
        <div class='shard-info'>
            <h2 id='title-{{ shard }}' >logical-{{ shard }}: <span></span></h2>
            <a href='{% url info shard %}' class='toggle-info small'>Show More</a>
        </div>
    {% endfor %}

{% endblock content %}


{% block extrajs %}
    <script>
        var business_ids = {{ business_ids|safe }};
        var shards = {{ shards|safe }};

        function random_item(input) {
            var idx = Math.floor(Math.random() * input.length);
            return input[idx];
        }
    </script>

    <script>
        var $form = $('#main-form');
        var $business_input = $('#id-business');
        var $timer_button = $('#main-form-button');
        var timer;
        var timer_active = false;

        function process_record() {
            console.log('processing record');
            var business_id = random_item(business_ids);
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: $form.serialize() + "&business=" + business_id,
                success: function(data, textStatus, jqXHR) {
                    var stuff = [];
                    for (key in data) {
                        var count = data[key];
                        $('#title-' + key + " span").html(count);
                        stuff.push(count);
                    }
                    $('svg').remove();
                    var r = Raphael(0, 100, 200, 200);
                    r.piechart(100, 100, 90, stuff);
                }
            });
        }

        $('#main-form-button').click(function(e){
            e.preventDefault();

            if (timer_active) {
                window.clearInterval(timer);
                timer_active = false;
                $timer_button.val('Start');
            } else {
                process_record();
                timer = window.setInterval('process_record()', 20);
                timer_active = true;
                $timer_button.val('Stop');
            }
        });

    </script>
{% endblock %}
